<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>MusiKal</title>

    <!-- CSS-->
    <link rel="stylesheet" href="../static/stylesheet.css">
    
    <!--JS-->
    <script defer src="../static/index.js"></script>
    <script defer src="../static/slides.js"></script>

</head>

<body>
    <!--Navbar-->
    <div class="navbar">
        <a class="active" href="index.html">Home</a>
        <a href="AboutUs.html">About Us</a>
        <a href="ContactUs.html">Contact Us</a>
        <a href="FindPlayers.html">Find MusiKans</a>
        <div class="dropdown">
            <button class="dropbtn">My Profile
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="MyProfile.html">My Details</a>
              <a href="MySchedule.html">My Schedule</a>
              <a href="MyBand.html">My Band</a>
              <a href="LoginPage.html">Log out</a>
            </div>
          </div>
    </div>
    
    <!--Logo-->
    <div class="header img">
        <img src="../static/Images/Logo.png" alt="Logo" />
    </div>

    <div class="main-container">

    <div class="container">
        <header id="showcase">
            <h1>Welcome To MusiKal</h1>
        </header> 
    </div>
    <h2><div class="content">Are You Ready For It ? choose your next step</div></h2>
    <!--Pics slide-->
   <a href="SchduleRehearsal.html" class="slidelink"> <img id="slide1" src="../static/Images/Rehearsals1.PNG" alt="Rehearsals1" /> </a>
   <a href="FindPlayers.html" class="slidelink"> <img id="slide2" src="../static/Images/FindBand1.PNG" alt="FindBand1" /> </a>
   <a href="Lessons.html" class="slidelink"> <img id="slide3" src="../static/Images/MusicLessons1.PNG" alt="MusicLessons1" /> </a>
     
    <div class="container">
        <h2>Or press here to find your MusiKans !</h2>
        <a href="FindPlayers.html" class ="Findbtn"> Find MusiKans</a><br><br>
    </div>
    
</div>

    <!--footer-->
    <footer>
        <nav id="footNav">
            <ul>
                <li> <a href="AboutUs.html"> About Us </a> </li>
                <li> <a href="ContactUs.html"> Contact Us </a> </li>
                <li> <a href="LoginPage.html"> Log out</a> </li>
            </ul>
        </nav>

        <p id="zchoyot"> ⒸDeveloped by Lilach Moyal</p>
    </footer>



    
</body>
</html>