doctype html
head
    meta(charset='UTF-8')
    title MusiKal
    // CSS
    link(rel='stylesheet' href='stylesheet.css')
    // JS
    script(defer='' src='index.js')

block content1
// Logo
.header.img
  img(src='Images/Logo.png' alt='Logo')

body
block content2

// footer
footer
  nav#footNav
    ul
      li
        a(href='/AboutUs')  About Us 
      li
        a(href='/ContactUs')  Contact Us 
      li
        a(href='/LoginPage')  Log out

  p#zchoyot Developed by Lilach Moyal
